include LICENSE.txt
include README.md
include CHANGELOG.md
include pyproject.toml
include CONTRIBUTING.md

recursive-include skneuromsi *.py

exclude tox.ini
exclude .flake8
exclude .header-template
exclude .readthedocs.yml
exclude requirements_dev.txt

recursive-exclude tests *
recursive-exclude docs *
recursive-exclude res *
recursive-exclude legacy *
recursive-exclude draft *
