include LICENSE
include README.md
recursive-include skneuromsi *.csv
recursive-include skneuromsi *.py

exclude tox.ini
exclude pyproject.toml
recursive-exclude tests *
recursive-exclude drafts *
recursive-exclude docs * 
