-e .

tox

ipdb
pytest
pytest-xdist
pytest-randomly

black

flake8
flake8-import-order
flake8-black
flake8-builtins

check-manifest

coverage
pytest-cov

pydocstyle
tomli

-r docs/requirements.txt

https://github.com/quatrope/qafan/archive/refs/heads/master.zip
